<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.utilities.Listeners"/>
    </listeners>
    <test thread-count="5" name="C:/Users/user/IdeaProjects/restAsuuredProject">
        <classes>
            <class name="org.example.testCases.TC0_Get_ListUsers"/>
            <class name="org.example.testCases.TC1_POST_Create"/>
            <class name="org.example.testCases.TC2_POST_WITH_EXCEL_DATA_PROVIDER"/>
            <class name="org.example.testCases.TC3_POST_Registration_Success"/>
        </classes>
    </test>
</suite>